<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/carta/agregar" method="POST">
        <label for="producto"></label>
        <p><input name="producto" type="text" required></p>
        <label for="precio"></label>
        <p><input name="precio" type="number" required></p>

    </form>
    
</body>
</html>