<html lang="en">
<%- include('partials/head') %>

<%- include('partials/header') %>
    <main>
        <h2>MESAS</h1>
    </main>
    <div class="tables">

    </div>




    <footer>

    </footer>
</body>


</html>