<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="header-top">
            <h1>Rumi Wasi</h1>
        </div>
        <nav class="top-navbar">
            <ul>
                <li><a href="/">Mesas</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Gestion</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>MESAS</h1>
    </main>
    <div class="tables">

    </div>




    <footer>

    </footer>
</body>


</html>