<html lang="en">
<%- include('partials/head') %>

<%- include('partials/header') %>
    <main class="home-main">
        <h2>MESAS</h1>

            <div class="home-main-activo">
                <% for (let i = 0; i < 15; i++){ %>
                    <a href="#"><div class="home-main-activo-mesa">
                        Mesa <%=i%>
                    </div></a>
                <% } %>
            </div>
    </main>





    <footer>

    </footer>
</body>


</html>