<body>
    <header>
        <div class="header-top">
            <h1>Rumi Wasi</h1>
        </div>
        <nav class="top-navbar">
            <ul>
                <li><a href="/">Mesas</a></li>
                <li><a href="/carta">Productos</a></li>
                <li><a href="#">Gestion</a></li>
            </ul>
        </nav>
    </header>
